apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
  containers:
    - name: busybox
      image: busybox
      command: ["sh", "-c", "echo Color=$APP_COLOR ; echo Mode=$APP_MODE ; sleep 3600"]
      env:
        - name: APP_COLOR
          valueFrom:
            configMapKeyRef:
              name: my-config
              key: APP_COLOR

        - name: APP_MODE
          valueFrom:
            configMapKeyRef:
              name: my-config
              key: APP_MODE
  restartPolicy: Never
