apiVersion: apps/v1
kind: Deployment
metadata:
  name: mydeployment
  labels:
    app: newapp
spec:
  replicas: 4
  selector:
    matchLabels:
      app: newapp
  template:
    metadata:
      labels:
        app: newapp
    spec:
      containers:
        - name: newapp-container
          image: httpd
          ports:
            - containerPort: 80  